app_python/.benchmarks
app_python/.pytest_cache
app_python/venv
app_python/.coverage
app_python/__pycache__
.idea/
jenkins/
terraform/.terraform/
terraform/terraform.tfstate.d/
terraform/.terraform.lock.hcl